.pad{
  padding: 30px;
}
.mag{
  margin-bottom: 0px;
}
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.font18{
  font-size: 17.5px;
}
.dis{
  display: inline-flex;
}
li{
  list-style-type: none;
}
@media only screen and (max-width: 991px) {
  .none{
    display: none;
  }
  .p{
    text-align: center;
  }
}