.pad{
  padding: 30px;
}
.mag{
  margin-bottom: 0px;
}
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.font18{
  font-size: 17.5px;
}
.dis{
  display: inline-flex;
}
.border{
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.gone{
  padding-top: 60px;
}
.tel:before { content: 'p:'; }
li{
  list-style-type: none;
}
@media only screen and (max-width: 991px) {
  .none{
    display: none;
  }
  .p{
    text-align: center;
  }
}