p {
    margin: 0px;
    padding: 0px;
}
h4{
    margin: 0
}
.bo{
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 700px;
    height: 400px;
    overflow: auto;
}
.modal-footer{
    background-color: white;
}
table{
    padding:"0" ;
    border:"0";
  }
  td{
      padding-right: 8px;
  }

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}